@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&display=swap');

.one-header-image {
  background-image: url('F:/FYP/gi-tract-pathology-detection/src/assets/one.png');
  background-size: cover;
}

.two-header-image {
  background-image: url('F:/FYP/gi-tract-pathology-detection/src/assets/two.jpg');
  background-size: cover;
}

.three-header-image {
  background-image: url('F:/FYP/gi-tract-pathology-detection/src/assets/three2.png');
  background-size: cover;
}

.image-bottom-text {
  bottom: 2rem;
  position: absolute;
}

.text-span {
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
}

.inst-panel {
  font-family: 'Bitter', serif;
  font-size: 14px;
}

ul li {
  padding-bottom: 10px;
}
